.App {
  text-align: center;
}

.repo-container {
  border-bottom: 1px solid #d8d8d8;
  padding: 16px 20px;
  
  .repo-items {
    width: 100%;
    text-decoration: none;
  }
}

.search-input {
  input {
    width: 100%;
    padding: 10px;
    text-align: center;
    outline: none;
  }
}
